body {
  height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    rgb(52, 51, 38),
    rgb(183, 88, 53),
    rgb(204, 171, 115)
  );
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  text-align: center;
}

h1 {
  width: 75vw;
  height: 144px;
  margin-left: auto;
  margin-right: auto;
  font-size: 72px;
  line-height: 144px;
  text-align: center;
  background-color: salmon;
}

h2 {
  background-color: rgb(38, 39, 50);
  color: rgb(223, 194, 145);
  padding: 6px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border-radius: 6px;
}

nav {
  width: 60vw;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
}

nav a {
  font-size: 20px;
  color: salmon;
}

nav a:visited {
  color: rgb(223, 194, 145);
}

section ul {
  list-style: disc;
  transform: translateX(24px);
}

section li {
  line-height: 22px;
  font-size: 18px;
  font-weight: bold;
}

.sales-section {
  background-image: linear-gradient(
    to bottom right,
    rgb(183, 88, 53),
    rgb(204, 171, 115)
  );
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateX(14px);
  margin: 10px auto;
  display: inline-block;
  border: 2px solid rgb(52, 51, 38);
  border-radius: 12px;
  width: 18vw;
  padding: 8px;
  box-shadow: 3px 3px 5px rgb(52, 51, 38);
}
